name: Unit tests contracts
on:
  push:
    paths:
      - 'packages/contracts/**'
  pull_request:
    paths:
      - 'packages/contracts/**'
  workflow_dispatch:
    paths:
      - 'packages/contracts/**'
jobs:
    unit_tests:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v3
        - name: Use Node.js 18.14.2
          uses: actions/setup-node@v3
          with:
            node-version: 18.14.2
        - name: Build for testing contracts
          run: |
            cd packages/contracts
            yarn
            yarn test
